<div style="background-color: #efefef; padding: 1em; border-radius: 1em; border: 1px solid #ccc;">
  <strong>Symbol:</strong> <div id="stock-symbol">...</div><br/>
  <strong>Message-ID:</strong> <div id="message-id">...</div><br/>
  <strong>Value:</strong> <div id="stock-value">...</div><br/>
  <strong>Last error:</stong> <div id="status"></div><br/>
  <button id="inject-stock">Inject</button>
</div>
