Symbol: <input type="text" id="new-stock-symbol" value="ELXR" />
<button id="new-stock">Add</button>

<p>
  <strong>Last error:</strong>
  <div id="status"></div>
</p>

<div id="stocks">
</div>

<div id="stock-template" class="stock">
  <strong>Symbol:</strong> <div class="symbol">...</div>
  <strong>Message-ID:</strong> <div class="id">...</div>
  <strong>Value:</strong> <div class="value">...</div>
</div>
